  h2.active,
  h2:hover {
    background-color: #ccc;
  }
   

   #section1, #section2, #section3 {
    display: none;
   }

h2 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s ease-out;
    font-weight: bold;
}
